/*---------cuerpo---------*/
.contenedor-cuerpo{
    display: flex;
    width: 100%;
    background-image: linear-gradient( to right, rgba(22, 23, 26,0.8),rgba(22, 23, 26,1));
}
.contenedor-cuerpo > .contenedor-cuerpo-centro{
    display: flex;
    justify-content: space-a;
    align-items: center;
    align-items: center;
    width: 100%;
}
.contenedor-cuerpo-centro > .parte-izquierda-cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}
.parte-izquierda-cuerpo > .parrafo-btn > .parrafo {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.parte-izquierda-cuerpo > .parrafo-btn > .parrafo img{
    width: 40px;
}
.parte-izquierda-cuerpo > .parrafo-btn > .parrafo-con {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor {
    display: flex;
    margin: 30px 0 45px 0;
    width: 100%;
}
.parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn{
    display: grid;
    grid-template-columns: repeat(1,1fr 1fr);
    grid-gap: 15px;
    width: 50%;
}
.parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn > .sign-up{
    background: #50c884;
    text-align: center;
    width: 280px;
    padding: 15px 0 15px 0;
    border-radius: 3px;
    font-size: 25px;
    transition: 0.4s;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.4);
}
.parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn > .sign-up:hover{
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.7);
}
.parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn > .sign-up a{
    text-decoration: none;
    color: black;
}
.parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn > .learn-more{
    background: black;
    text-align: center;
    width: 230px;
    padding: 12px 0;
    border-radius: 3px;
    font-size: 28px;
    box-shadow: 1rem 0 2rem 0 rgba(0, 0, 0, 0.4);
}
.parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn > .learn-more a{
    text-decoration: none;
    color: white;
}
.parte-derecha-cuerpo{
    width: 1035px;
}
.parte-derecha-cuerpo > .titulo-img{
    
}
.contenedor-cuerpo-centro > .parte-derecha-cuerpo > .titulo-img .imagen img{
    width: 600px;
}
.contenedor-cuerpo-centro > .parte-derecha-cuerpo > .titulo-img .imagen{
    box-shadow: -3rem 0 2rem 2rem rgb(0 0 0 / 6%);
}
.parte-derecha-cuerpo > .titulo-img > .titulo h4 {
    color: white;
    margin-left: 15px;
    transform: translateY(20px);
}
.parte-derecha-cuerpo > .titulo-img > .titulo h4 b span {
    color: #6abfe3;
}