@media(max-width: 1317px){
    /*-------body------*/
    .contenedor-cuerpo-centro{
        flex-direction: column;
    }
    .contenedor-cuerpo-centro > .parte-derecha-cuerpo{
        width: auto;
    }
    .contenedor-cuerpo-centro > .parte-derecha-cuerpo > .titulo-img > .imagen img{
        width: 900px;
    }
}

@media (max-width: 1095px){
    /*-------nav------*/
    .contenedor-nav{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .contenedor-nav > .logo{
        width: 100%;
        text-align: center;
        padding: 10px 0 0 0;
        order: 1;
    }
    .contenedor-nav > .contenedor-enlace{
        padding: 10px 0;
        order: 3;
    }
    .contenedor-nav > .contenedor-enlace > .text-explore{
        display: none;
    }
    .contenedor-nav > .buscador-login{
        justify-content: center;
        order: 2;
    }

    .contenedor-nav > .contenedor-enlace > .enlaces{
        flex-direction: column;
        width: 100%;
    }
    
    /*-------body------*/
    .contenedor-cuerpo-centro{
        flex-direction: column;
    }
    .contenedor-cuerpo-centro > .parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor{
        width: 100%;
    }.contenedor-cuerpo-centro > .parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn{
        width: 95%;
    }
    .parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn > .sign-up , .learn-more{
        width: 300px;
    }
    .contenedor-cuerpo-centro > .parte-derecha-cuerpo{
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }
    .contenedor-cuerpo-centro > .parte-derecha-cuerpo > .titulo-img > .imagen img{
        width: 450px;
    }
    .parte-izquierda-cuerpo > .parrafo-btn > .parrafo , .parrafo-con{
        text-align: center;
        font-size: 25px;
        padding: 30px;
    }
    /*-------footer------*/
    .contenedor-pie-página > .contenedor-secciones{
        flex-direction: column;
    }
    .contenedor-pie-página > .contenedor-secciones > .seccion{
        border-bottom: 1px solid #848b89;
        font-size: 15px;
    }
    .contenedor-pie-página > .contenedor-secciones > .seccion a{
        font-size: 16px;
    }

    @media (max-width: 450px){
        .contenedor-nav > .buscador-login{
            flex-direction: column;
        }
        .parte-izquierda-cuerpo > .parrafo-btn > .btn-contenedor > .btn{
            display: flex;
            width: 100%;
            padding: 0;
            flex-direction: column;
        }
        .parte-izquierda-cuerpo > .parrafo-btn > .parrafo{
            font-size: 15px;
        }
        .parte-izquierda-cuerpo > .parrafo-btn > .parrafo-con{
            font-size: 20px;
        }
        
        .contenedor-cuerpo-centro > .parte-derecha-cuerpo > .titulo-img > .imagen img{
            width: 300px;
        }
    }
}