/*---------nav---------*/
.contenedor{
    display: flex;
    justify-content: center;
    background: black;
    width: 100%;
}
.contenedor-nav{
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr 50px 2fr);
    margin: 3px 0 3px 0;
    color: white;
    width: 95%;
}
.contenedor-nav > .logo img{
    width: 250px;
}

.contenedor-nav > .contenedor-enlace{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor-nav > .contenedor-enlace a{
    color: white;
    text-decoration: none;
    font-size: 23px;
}
.contenedor-nav > .contenedor-enlace > .spark{
    color: #dad6d6;
    font-size: 20px;
    cursor: pointer;
}
.contenedor-nav > .buscador-login{
    display: flex;
    justify-content: flex-end;
    grid-gap: 5vh;
    align-items: center;
}
.contenedor-nav > .buscador-login div{
    font-size: 23px;
    padding: 7px 15px 7px 15px;
}
.contenedor-nav > .buscador-login > .create{
    cursor: pointer;
}
.contenedor-nav > .buscador-login > .create,.login,.sign-up{
    background: rgba(255,255,255,0.5);
    border-radius: 2px;
}
.contenedor-nav > .buscador-login div a{
    text-decoration: none;
    color: white;
}