/*---------nav---------*/
.contenedor{
    display: flex;
    justify-content: center;
    background: rgb(139, 148, 59);
    width: 100%;
}
.contenedor-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 95%;
}
.contenedor-nav > .logo img{
    width: 250px;
}

.contenedor-nav > .contenedor-enlace{

}